/oracc_json/adsd.zip
/oracc_json/adsd-adart1.zip
/oracc_json/adsd-adart2.zip
/oracc_json/adsd-adart3.zip
/oracc_json/aemw-alalakh-idrimi.zip
/.idea/akk_word2vec.iml
/oracc_json/akklove.zip
/oracc_json/amgg.zip
/oracc_json/ario.zip
/oracc_json/armep.zip
/oracc_json/arrim.zip
/oracc_json/asbp.zip
/oracc_json/blms.zip
/oracc_json/btto.zip
/oracc_json/cams.zip
/oracc_json/cams-akno.zip
/oracc_json/cams-anzu.zip
/oracc_json/cams-barutu.zip
/oracc_json/cams-etana.zip
/oracc_json/cams-gkab.zip
/oracc_json/cams-ludlul.zip
/oracc_json/cams-selbi.zip
/oracc_json/cams-tlab.zip
/oracc_json/cams-barutu/cams/barutu/catalogue.json
/oracc_json/ckst.zip
/oracc_json/cmawro.zip
/oracc_json/cmawro-cmawr1.zip
/oracc_json/cmawro-cmawr2.zip
/oracc_json/cmawro-cmawr3.zip
/oracc_json/cmawro-maqlu.zip
/oracc_json/contrib-amarna.zip
/oracc_json/contrib-lambert.zip
/oracc_json/cams-barutu/cams/barutu/corpus.json
/oracc_json/ctij.zip
/oracc_json/dcclt.zip
/oracc_json/dcclt-ebla.zip
/oracc_json/dcclt-jena.zip
/oracc_json/dcclt-nineveh.zip
/oracc_json/dcclt-signlists.zip
/oracc_json/dccmt.zip
/oracc_json/dsst.zip
/oracc_json/ecut.zip
/oracc_json/etcsri.zip
/oracc_json/glass.zip
/oracc_json/cams-barutu/cams/barutu/gloss-akk-x-oldbab.json
/oracc_json/cams-barutu/cams/barutu/gloss-qpn.json
/oracc_json/cams-barutu/cams/barutu/gloss-qpn-x-divine.json
/oracc_json/cams-barutu/cams/barutu/gloss-qpn-x-places.json
/oracc_json/hbtin.zip
/oracc_json/cams-barutu/cams/barutu/index-akk-x-oldbab.json
/oracc_json/cams-barutu/cams/barutu/index-cat.json
/oracc_json/cams-barutu/cams/barutu/index-lem.json
/oracc_json/cams-barutu/cams/barutu/index-qpn.json
/oracc_json/cams-barutu/cams/barutu/index-qpn-x-divine.json
/oracc_json/cams-barutu/cams/barutu/index-qpn-x-places.json
/oracc_json/cams-barutu/cams/barutu/index-tra.json
/oracc_json/cams-barutu/cams/barutu/index-txt.json
/oracc_json/lacost.zip
/oracc_json/lovelyrics.zip
/oracc_json/cams-barutu/cams/barutu/metadata.json
/.idea/misc.xml
/.idea/modules.xml
/oracc_json/nimrud.zip
/oracc_json/obmc.zip
/oracc_json/obta.zip
/oracc_json/ogsl.zip
/oracc_json/oimea.zip
/oracc_json/cams-barutu/cams/barutu/corpusjson/P240196.json
/oracc_json/cams-barutu/cams/barutu/corpusjson/P240212.json
/oracc_json/cams-barutu/cams/barutu/corpusjson/P365126.json
/oracc_json/pnao.zip
/.idea/inspectionProfiles/profiles_settings.xml
/oracc_json/qcat.zip
/oracc_json/riao.zip
/oracc_json/ribo.zip
/oracc_json/ribo-bab7scores.zip
/oracc_json/ribo-babylon2.zip
/oracc_json/ribo-babylon3.zip
/oracc_json/ribo-babylon4.zip
/oracc_json/ribo-babylon5.zip
/oracc_json/ribo-babylon6.zip
/oracc_json/ribo-babylon7.zip
/oracc_json/ribo-babylon8.zip
/oracc_json/ribo-babylon10.zip
/oracc_json/ribo-sources.zip
/oracc_json/rimanum.zip
/oracc_json/rinap.zip
/oracc_json/rinap-rinap1.zip
/oracc_json/rinap-rinap2.zip
/oracc_json/rinap-rinap3.zip
/oracc_json/rinap-rinap4.zip
/oracc_json/rinap-rinap5.zip
/oracc_json/rinap-scores.zip
/oracc_json/saao.zip
/oracc_json/saao-knpp.zip
/oracc_json/saao-saa01.zip
/oracc_json/saao-saa02.zip
/oracc_json/saao-saa03.zip
/oracc_json/saao-saa04.zip
/oracc_json/saao-saa05.zip
/oracc_json/saao-saa06.zip
/oracc_json/saao-saa07.zip
/oracc_json/saao-saa08.zip
/oracc_json/saao-saa09.zip
/oracc_json/saao-saa10.zip
/oracc_json/saao-saa11.zip
/oracc_json/saao-saa12.zip
/oracc_json/saao-saa13.zip
/oracc_json/saao-saa14.zip
/oracc_json/saao-saa15.zip
/oracc_json/saao-saa16.zip
/oracc_json/saao-saa17.zip
/oracc_json/saao-saa18.zip
/oracc_json/saao-saa19.zip
/oracc_json/saao-saa20.zip
/oracc_json/saao-saa21.zip
/oracc_json/saao-saas2.zip
/output/sentences.json
/output/sentences_111.json
/output/sentences__.json
/oracc_json/cams-barutu/cams/barutu/sortcodes.json
/oracc_json/suhu.zip
/oracc_json/tcma.zip
/oracc_json/xcat.zip
/.idea/workspace.xml
